.aboutimg {
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
  animation-delay: 1s;
}

@keyframes example {
  from {
    left: -100vw;
  }
  to {
    left: 0px;
  }
}
